<!DOCTYPE html>
<html lang="ja">


<body>
    <head>
        <h1><%=title %></h1>
    </head>
    <div role="main">
        <p><%=content %></p>
        <form method="post" action="/other">
        <p>
            <input type="text" name="msg">
            <input type="submit" value="Click">
        </p>
        </form>
    </div>
</body>
</html>